* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: linear-gradient(190deg, rgb(20, 167, 57), rgb(1, 14, 49));
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
